@using SeniorActivitySupportSystem.ViewModel
@model List<UserViewModel>
<link rel="stylesheet" href="~/css/user.css" asp-append-version="true">
<section class="flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover align-items-center table-borderless">
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <img src="@user.ProfileImageUrl" alt="@user.Username" class="rounded-circle" style="width: 60px; height: 60px; object-fit: cover; border: 2px solid #555; margin-right: 15px;">
                                        <div>
                                            <span class="h6 mb-0" style="font-weight: bold;">@user.Username</span><br>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                                        View Profile
                                    </a>
                                </td>
                            </tr>
                            <tr class="table-divider">
                                <th></th>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
