@using SeniorActivitySupportSystem.ViewModel
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<a href="@Url.Action("Index", "Home")" class="btn-back">&larr; Back</a>
@if(TempData["Error"] != null){
    <div class="col-md-12 alert alert-danger"> 
        <span><b>Sorry, something went wrong!- @TempData["Error"]</b></span>
    </div>
}
<div class="form-wrapper">
    <div class="form-container">
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="Email">Email address</label>
                <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
